.account-wrapper{
    width:900px;
    margin:60px auto;
}
.acc-prof-pic-wrapper{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-bottom: 40px;
 border-bottom: 2px solid #B6B6B6;
}
.acc-prof-pic-div{
    display: flex;
    align-items: center;
    color:#272727;
}
.acc-prof-pic{
    width:100px;
    height:100px;
    border:1px solid rgb(211, 211, 211);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* box-sizing: border-box; */
}
.acc-name-div{
    margin-left:15px;
}
.user-mobile{
    font-family: poppins-reg;
    color: #848484;
}
.acc-edit-btn{
    background-color: #FF5F5F;
    border:none;
    outline: none;
    color: white;
    padding:5px 10px;
    border-radius:5px;
    font-size: 14px;
    font-family: poppins-semib;
}
.acc-count-div,.acc-address-div{
    border: 1px solid #E1E1E1;
    margin-top:20px;
    padding:0px 15px;
    border-radius:5px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25)
}
.acc-each-info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:25px 0px;
    font-size:18px;
    color:#111111;
    max-width: 100%;
    font-family: poppins-reg;
}
.acc-each-info>div{
    font-family: poppins-reg;
    color:#111111;
    width:300px;
    word-break: break-word;
    hyphens: auto!important;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
   display: flex;
   justify-content: flex-end;
}
.logout{
    margin-top:25px;
    background-color:#3C72FF;
    border: none;
    color: white;
    padding:10px 20px;
    font-family: poppins-semib;
    border-radius: 5px;
    font-size: 15px;
}
@keyframes blink{
    0%{background-color: rgba(197, 197, 197, 0.200);}
    /* 25%{background-color: rgba(197, 197, 197, 0.500);}
    /* 50%{background-color: rgba(197, 197, 197, 0.800);} */
    50%{background-color: rgba(197, 197, 197, 0.800);}
    100%{background-color: rgba(197, 197, 197, 0.200);}
}
.progress{
    animation-name: blink;
    animation-duration:2s;
    animation-iteration-count: infinite;
    color:red;
    fill:red;
    width: 100%!important;
    height: 100%!important;
    /* background-color: rgba(197, 197, 197, 0.808); */
    border-radius: 50%;
    border: 1px soldid red;
    outline: none;
}
.progress-div{
    width:100px!important;
    height: 100%!important;
}
.file-upload{
    position: fixed;
    left:-200vw;
}