.my-account-container {
  overflow-x: hidden;
  position: relative;
}
.account-wrapper {
  width: 900px;
  margin: 60px auto;
}
.acc-prof-pic-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 2px solid #b6b6b6;
}
.acc-prof-pic-div {
  display: flex;
  align-items: center;
  color: #272727;
}
.acc-prof-pic {
  width: 100px;
  height: 100px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* box-sizing: border-box; */
}
.acc-name-div {
  margin-left: 15px;
}
.user-mobile {
  font-family: poppins-reg;
  color: #848484;
  font-size: 14px;
}
.acc-edit-btn {
  background-color: #ff5f5f;
  border: none;
  outline: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-family: poppins-semib;
}
.acc-count-div,
.acc-address-div {
  border: 1px solid #e1e1e1;
  margin-top: 20px;
  padding: 0px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.acc-each-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
  font-size: 16px;
  color: #313131;
  max-width: 100%;
  font-family: poppins-reg;
}
.acc-each-info > div {
  font-family: poppins-500;
  color: #111111;
  width: 300px;
  word-break: break-all;
  hyphens: auto !important;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  color: rgb(80, 60, 255);
  text-align: center;
}
.logout {
  margin-top: 25px;
  background-color: #3c72ff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-family: poppins-semib;
  border-radius: 5px;
  font-size: 15px;
}
@keyframes blink {
  0% {
    background-color: rgba(197, 197, 197, 0.2);
  }
  50% {
    background-color: rgba(197, 197, 197, 0.8);
  }
  100% {
    background-color: rgba(197, 197, 197, 0.2);
  }
}
.progress {
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  color: red;
  fill: red;
  width: 100% !important;
  height: 100% !important;
  border-radius: 50%;
  border: 1px soldid red;
  outline: none;
}
.progress-div {
  width: 100px !important;
  height: 100% !important;
}
.file-upload {
  position: fixed;
  left: -200vw;
}
.edit-profile-container {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.edit-profile-wrapper {
  width: 450px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25), -1px 0px 4px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(253, 253, 253);
  position: relative;
}
.edit-input-wrapper {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-template-columns: 1fr;
  margin-top: 30px;
}
.input-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}
.input-2,
.input-3 {
  display: grid;
}
.input-4 {
  display: grid;
  grid-template-columns: calc(60% - 5px) calc(40% - 5px);
  grid-column-gap: 10px;
  border-radius: 5px;
}
.input-1 > div,
.input-2 > div,
.input-3 > div,
.input-4 > div {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 100%;
  padding: 2px 2px 2px 0px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #819efc;
}
.edit-input-wrapper input {
  display: flex;
  flex-grow: 1;
  width: 10px !important;
  height: 100%;
  border: none;
  background-color: rgb(245, 245, 245);
  border-radius: 0px 4px 4px 0px;
  padding: 0px 5px;
}
.edit-input-wrapper input:-webkit-autofill,
.edit-input-wrapper input:-webkit-autofill:hover,
.edit-input-wrapper input:-webkit-autofill:focus,
.edit-input-wrapper input:-webkit-autofill:active {
  background-color: transparent;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(0, 0, 0) !important;
    caret-color: rgb(0, 0, 0);
}
.pf-icon-div {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.update-pf {
  margin-top: 20px;
  background-color: #4ffc91;
  color: white;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: poppins-semib;
}
.update-pf-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.bck-icon {
  position: absolute;
  top: 20px;
  left: 0px;
  background-color: #ff6d6d;
  width: 20px;
  height: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
.sk-chase {
  width: 30px;
  height: 30px;
  position: relative;
  animation: sk-chase 2s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot-before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}
.load-wait {
  position: fixed;
  top: 50px;
  left: 0px;
  height: calc(100vh - 50px);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.418);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  animation: zoomeffect 0.5s 1 linear;
}
@keyframes zoomeffect {
  0% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.edit-pf-title{
    position: absolute;
    bottom: -40px;
    left: 0px;
    transform-origin: 0 0;
    transform: rotate(270deg) translateY(-100%);
    /* border: 1px solid red; */
    width:calc(100% - 30px);
    max-width: 100%;
    padding:0px 0px 10px 0px;
    font-size: 25px;
    letter-spacing:5px;
    word-spacing:5px;
    display: flex;
    justify-content: center;
    color: #ff6d6d;
}
