.filter-sort{
   width:300px;
   padding-right:15px;
}
form{
    margin: 0px;
}
/* html{
    scroll-behavior: smooth;
} */
.products-display-div{
    display: flex;
    margin-top: 35px;
    width: 100%; 
    margin-bottom:20px;
    max-width:100%;
}
.filt-title,.sort-title{
    display: flex;
    font-size:18px;
    color:#3C72FF;
    font-family: poppins-500;
    justify-content: center;
    margin-top: 10px;
}
.filt-tit-text,.sort-tit-text{
  margin-left: 5px;
  letter-spacing:2.28px;
}
.filter-div,.sort-div{
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 10px 15px 15px 15px;
    box-sizing: border-box;
    margin-bottom:20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}
.filters,.sorts{
    margin-top:25px;
}
.filter-btn-div,.sort-btn-div{
    display: flex;
    justify-content:flex-end;
    margin-top:15px;
}
.apply-btn-div{
    display: flex;
    justify-content:flex-start;
    margin-top:15px;
}
.filter-btn,.sort-btn{
    outline: none;
    border:none;
    border-radius: 5px;
    background-color:#3C72FF;
    color: white;
    padding: 2px 10px;
    font-size: 15px;
    font-family: poppins-500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reset-filt-div{
    background-color:rgb(255, 94, 94);
    color: white;
    font-family: poppins-500;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    padding:2px 5px;
}
.select-div{
    margin:35px 0px 0px 0px;
    position: relative;
    display: flex;
    align-items: center;
}
.select-div>div{
    width: 100%;
}
.cancel-filter{
  position: absolute;
  right:40px;
  width:20px!important;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  background-color: rgb(241, 241, 241);
  border-radius: 50%;
  font-size:16px;
  padding:2px 3px 4px 2px;
  box-sizing: border-box;
  color: rgb(92, 122, 255);
  cursor: pointer;
}
.check-div{
    margin:20px 0px 0px 0px;
    display: flex;
    align-items: center;
    font-family:poppins-reg;
    font-weight: bold;
    color: rgb(24, 24, 24);
}
.check-div label{
    margin-left: 3px;
}
.suggestions-div{
    width: 100%;
    position: sticky;
    top: 50px;
    background-color: white;
    padding:20px 0px 15px 0px;
    z-index:2;
}

.suggestions-wrapper{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    z-index: 5;
}
.suggestions{
    display: flex;
}
.each-suggestion{
    box-shadow:0 0 5px rgba(0, 0, 0, 0.25);
    width: 170px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-family: poppins-500;
    font-size: 14px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0px 30px 0px 0px;
    padding-left:1px;
    background-color:#fcfcfc;
}
.suggest-image{
    width:35px;
    height: 35px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 50%;
    background-position: center;
    background-size:cover;
}
.sug-name{
    margin-left: 5px;
    color:#0C0C0C;
}.search-div{
    display: flex;
    align-items: center;
}
.search-div>form{
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position:relative;
    margin: 0px;
}
.search-sug-img-div{
    width: 40px;
    border:1px solid rgb(216, 216, 216);
    height:40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-color: rgb(184, 184, 184);
}
.search-options{
    display: flex;
    align-items: center;
    padding:10px 0px 10px 0px;
    margin:0px 3px;
    cursor: pointer;
    border-bottom: 1px solid rgb(190, 190, 190);
}
.search-sug-name{
    margin-left:5px;
    font-family:poppins-reg;
    /* color:rgb(87, 87, 87) */
}
.search-options:hover{
    background-color: #4b7dfd;
    color: white;
}
.search-sug-img{
    width:100%;
}
.show-sugs{
    position: absolute;
    top:40px;
    height: fit-content;
    width:100%;
    border:1px solid rgb(223, 223, 223);
    max-height:250px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    border-radius:10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    padding:10px 0px;
}
.show-sugs::-webkit-scrollbar{
  width:8px;
}
.show-sugs::-webkit-scrollbar-track{
    background-color:transparent;
    /* border: 1px solid red; */
}
.show-sugs::-webkit-scrollbar-thumb{
    background-color:rgba(0, 0, 0, 0.219);
    border-radius: 5px;
}
.search-input-div{
    position: relative;
    display: flex;
    align-items: center;
}
.search-div input{
   height: 30px;
   max-width: 100%;
   flex-grow: 1;
   border: 1px solid #999999;
   border-radius: 10px;
   padding: 0px 10px;
   background-color: transparent;
   outline: none;
   color: rgb(29, 29, 29);
   font-size: 16px;
   font-family: poppins-reg;
   margin-right: 5px;
}
.pseudo-placeholder{
    position: absolute;
    left: 0px;
    color:#BFBFBF;
    font-family: poppins-reg;
    font-size:16px;
    margin-left:10px;
    z-index: -1;
}
.search-btn{
    width:30px;
    height:30px;
    background-color:#2471E3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding:0px 3px;
    outline: none;
    border: none;
    cursor:pointer;
}
.search-btn:hover{
    background-color:#1774ff;
}
button:active{
    transform:scale(0.95);
}
.custom-radio{
    width:13px;
    height: 13px;
    border: 1px solid rgb(102, 102, 102);
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}
.check-div input{
    display: none;
}
.check-div input:checked ~ .custom-radio{
    background-color: rgb(74, 74, 255);
}
.custom-radio>i{
    color: white;
    font-size: 10px;
    margin-top:-1px;
}
.check-div label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.check-div .custom-radio{
    margin-right: 5px;
}
.sort-select{
    margin-top:25px;
}
.pds-list{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(230px,1fr ));
    width: 100%;
    grid-row-gap: 15px;
    grid-template-rows:repeat(auto-fit,minmax(20px,1fr));
    grid-column-gap:10px;
    height: max-content;
    margin-left:20px;
    box-sizing: border-box;
    position:relative;
}
.each-prdct{
    max-height: 100%;
    border: 1px solid rgb(192, 192, 192);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding:15px 15px 15px 15px;
    border-radius: 5px;
    box-sizing: border-box;
}
.prdct-img-div{
    width:100%;
    height:200px;
    padding:10px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prd-img{
    max-width: 100%;
    max-height: 100%;
}
.prdct-des{
    display: flex;
    flex-direction: column;
    font-family:poppins-500;
    margin-top:15px;
    box-sizing: border-box;
}
.prdct-name{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-clamp:2;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.prdct-des>div{
    margin-bottom: 5px;
}
.unmarked{
    color:black
}
.rating-div{
    display: flex;
    align-items: center;
    margin: 0px;
    justify-content: space-between;
}
.rate{
    display: flex;
    align-items: center;
}
.rating-div>i{
    margin-top:-3px;
    margin-right:2px;
}
.rating-num{
    margin-left:5px;
}
.sold-rate{
    color:#858585;
    font-size: 14px;
}
.price-div{
    display: flex;
    font-size: 14px;
    margin-top:15px;
}
.ogn-price{
   display: flex;
   align-items: center;
   position: relative;
}
.strike{
    position:absolute;
    left:0px;
    margin-top:-2px;
    width: 100%;
    height:2px;
    /* background-color: #2f2f2fc4; */
    transform: rotate(15deg);
    background-color: rgb(255, 38, 38);

}
.offer{
    margin-left:15px;
    box-shadow:0 0 4px rgba(0, 0, 0, 0.25);
    padding:0px 5px;
    border-radius: 5px;
    color:#0726CB;
}
.dscnt-offer{
    margin-left: 15px;
    color:#039300;
}
.pagination{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.e-page{
    margin:0px 5px;
    border:2px solid rgb(255, 94, 94);
    /* padding: 10px; */
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
    margin-top: 30px;
    cursor: pointer;
}
#pg-highlight{
    background-color: rgb(255, 67, 67);
    color: white;
}
.pre-next{
    /* border: 1px solid red; */
    height: 30px;
    margin-bottom:50px;
    margin-top: 30px;
    /* background-color: #3553fd; */
    color: rgb(255, 67, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    cursor: pointer;
    -webkit-user-select: none;
}
.page-show{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 1px solid red; */
}
.pre-page{
    margin-right: 50px;
    /* border-right: 2px solid rgb(255, 67, 67); */
}
.post-page{
    margin-left: 50px;
    /* border-left: 2px solid rgb(255, 67, 67); */
}
.e-page-wrap{
    display: flex;
    position: relative;
}
.post-page>i{
    font-size:20px;
    margin-bottom:-3px;
}
.pre-page>i{
    font-size:20px;
    margin-bottom:-2px;
}
.page-info{
  position: absolute;
  top:-40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  font-family: poppins-500;
  font-size:15px;
  color: #838383;
}
.page-loading{
    min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:1;
}
.page-loading i{
    color: blue;
    font-size: 25px;
}